@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
  --content-max-size: 1040px;
  --primary-color: #707070;
  --secundary-color: #888888;
}
/*ULTILIZA O NOME DA CLASSE PARA COMPOR O LAYOU. DESCONSIDERAR EM PRODUÇÃO*/
/* .grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}   */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}
.h1, h1 {
  font-size: 2.5rem;
}
.h2, h2 {
  font-size: 2rem;
}
.h3, h3 {
  font-size: 1.5rem;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h5, h5 {
  font-size: 1.25rem;
}
.h6, h6 {
  font-size: 1rem;
}
.super-title {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0;
}
body {
  background: #fff;
}
header {
  display: grid;
  position: relative;
  background: var(--primary-color);
  text-align: center;
  padding: 4rem 0 0 0;
  color: #fff;
}
header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: var(--primary-color);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  z-index: -9;
}
header p {
  color: #fff;
  padding: 0 0 1.5rem 0;
}
header h1 {
  color: #fff;
  padding: 0 0 1rem 0;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  color:var(--secundary-color);
}
.radio-inline {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  margin: 1rem .5rem 0 0;
}
.radio-inline input[type="radio"]{
  margin-right:.3rem;
}
.form {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}
.btn-white {
  color: var(--secundary-color);
  background: #fff;
  width: 100%;
}
.btn-outline {
  border: 1px solid #ced4da;
  background: #fff;
  display: block;
  width: 100%;
  margin: 2rem 0;
  color: var(--secundary-color);
}
.btn-outline:hover {
  background: var(--secundary-color);
  color: #fff;
}
.btn-outline-pay {
  border: 1px solid #ced4da;
  background: #fff;
  display: block;
  width: 100%;
  margin: 1rem 0;
  color: var(--secundary-color);
  padding: .5rem 0;
}
.btn-outline-pay:hover {
  background: var(--secundary-color);
  color: #fff;
}
.container {
  max-width: var(--content-max-size);
  margin: 20px auto;
  padding: 20px;
  border-radius: 6px;
}
.grid-container {
  height: 100%;
  margin: 0;
}
.grid-container * {
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(0fr, 1fr) minmax(0fr, 1fr) minmax(0fr, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "section1 section1 section1 section1"

    "section2 section2 section2 section2"

    "section3 section3 section3 section3";
}

.section1 {
  grid-area: section1;
  margin: 8rem 0 0 0;
}
.section1 h2 {
  color: var(--secundary-color);
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 3rem 0;
}
.section1 p {
  color: var(--secundary-color);
  font-weight: 300;
  margin: 0 0 1rem 0;
}

.section2 {
  grid-area: section2;
  margin: 15px 0;
}
.section3 {
  grid-area: section3;
  margin: 15px 0;
}

.content-col {
  padding: 1rem;
  border-radius: 2px;
}

/* headlines with lines */
.decorated{
  overflow: hidden;
  text-align: center;
  color: var(--secundary-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: .15rem solid;
 width: 100vw;
 margin: 0 20px;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}
.product-card h5 {
  color: var(--secundary-color);
  font-weight: 600;
  margin: 0 0 1rem 0;
}
.product-card .description {
  color: var(--secundary-color);
  font-weight: 300;
  margin: 0 0 1rem 0;
  font-size: .8rem;
}
.product-card .old-price {
  color: var(--secundary-color);
  font-weight: 300;
  margin: 0 0 .2rem 0;
  font-size: .8rem;
}
.product-card .price {
  color: var(--secundary-color);
  font-weight: 600;
  margin: 0 0 .2rem 0;
  font-size: 1rem;
}
.product-card .installments {
  color: var(--secundary-color);
  font-weight: 300;
  margin: 0 0 .2rem 0;
  font-size: .8rem;
}
.grid-products {
  margin: 1rem 0;
}
.newsletter {
  color: var(--secundary-color);
}
.newsletter p {
  color: var(--secundary-color);
  font-weight: 300;
  margin: 1rem 0;
}

@media (max-width: 480px) {
  .newsletter .content-col {
    padding: 0 !important;
  }
}
footer {
  background: var(--primary-color);
  position: relative;
  padding: 4rem 0;
  margin: 5rem 0 0 0;
  color: #fff;
  font-weight: 600;
}
footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: var(--primary-color);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  z-index: -9;
}